.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.clickableContainer {
    min-width: 128px;
    min-height: 128px;
    width: 128px;
    height: 128px;
    position: relative;
}

.clickable {
    position: absolute;
    z-index: 9999;
    width: 128px;
    height: 128px;
}

.editButton {
    position: absolute;
    padding: 3px;
    background: transparent;
    border-radius: 50%;
    border: none;
    transform: translate(-50%, -50%);
}

.editButton:hover {
    border: 1px solid indianred;
}

.editButton:active {
    border: 1px solid darkred;
}

.editButtonInside {
    background: red;
    width: 5px;
    height: 5px;
    border-radius: 50%;

}

.focused {
    background: indianred;
}

.focusedWrapper {
    border: 1px solid indianred;
}

.panelButtonContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
}
.panelButton{
    background: #03A9F4;
    border: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin: 3px;

}

.panelButton:hover{
    background: #0288D1;
}

.panelButton:active{
    background: #0277BD;
}
.panelButton:disabled, .panelButton[disabled]{
    opacity: 0.6;
    background: #03A9F4;
}
.upArrow, .rightArrow, .leftArrow, .downArrow{
    width: 12px;
}
.rotateLeft, .rotateRight, .expandVertically, .narrowVertically, .expandHorizontally, .narrowHorizontally{
    width: 15px;
}

.biggerIcon{
    width: 20px;
}
.upArrow{
    transform: rotate(90deg);
}

.rightArrow{
    transform: rotate(180deg);
}

.downArrow{
    transform: rotate(-90deg);
}

.rotateRight {
    transform: scaleY(-1) rotate(180deg);
}

.expandVertically, .narrowVertically{
    transform: rotate(135deg);
}


.expandHorizontally, .narrowHorizontally{
    transform: rotate(45deg);
}
