.container {
    display: flex;
    flex-direction: row;
    flex: 1;
    min-width: 0;
    max-height: calc(100vh - 1px);
}
.squareContainer {
    display: flex;
}

.column {
    display: flex;
    /*flex: 1;*/
    flex-direction: column;
    min-width: 0;
    min-height: 0;
}

.dummyWrapper, .emptyDummyWrapper {
    display: flex;
    box-sizing: border-box;
    /*flex: 1;*/
    margin: 1px;
    min-width: 0;
    min-height: 0;
}

.focused {
    outline: 2px solid #03A9F4;
}

.dummyWrapper, .squareContainer, .container, .column {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}