.container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.clickableContainer {
    min-width: 128px;
    min-height: 128px;
    width: 128px;
    height: 128px;
    position: relative;
}

.clickable {
    position: absolute;
    z-index: 9999;
    width: 128px;
    height: 128px;
}

.editButton {
    position: absolute;
    padding: 3px;
    background: transparent;
    border-radius: 50%;
    border: none;
    transform: translate(-50%, -50%);
}

.editButton:hover {
    border: 1px solid indianred;
}

.editButton:active {
    border: 1px solid darkred;
}

.editButtonInside {
    background: red;
    width: 5px;
    height: 5px;
    border-radius: 50%;

}

.focused {
    background: indianred;
}

.focusedWrapper {
    border: 1px solid indianred;
}


