.app-container {
    background: #ECEFF1;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: row;

}

.gridContainer{
    height: 100%;
}

.sidenav {
    background: white;
    width: 250px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.chartPopup {
    bottom: 0;
    left: 0;
    background: white;
    height: 402px;
    width: 100%;
    position: absolute;
    z-index: 9999;
    box-shadow: 0 3px 15px 0 #333;
}

.closeButton {
    position: absolute;
    z-index: 9999;
    background: #03A9F4;
    border: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    margin: 3px;
}

.closeButton:hover{
    background: #0288D1;
}

.closeButton:active{
    background: #0277BD;
}

.remove {
    width: 12px;
}